.title {
    color: green;
    border: 1px solid ;
    width: 20%;
    margin: 10px auto;
    background: yellow;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
